.customer-section {
  text-align: center;
  padding: 40px;
  background-color: white;
}

.customer-section h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.customer-carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
  max-width: 100%;
  padding: 20px 0;
}

.customer-card {
  flex:auto;
  border-radius: 2px;  /* Add rounded corners */
  background-color: rgb(94, 28, 28);
  transition: transform 0.3s ease;
}

.customer-card img {
  width: 100%;
  height: auto;
  display: block;
}

.customer-card-content {
  padding: 15px;
}

.customer-card-content p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.customer-card:hover {
  transform: scale(1.05);  /* Slight hover effect */
}

.dot-container {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

@media (max-width: 768px) {
  .customer-card {
    flex: 0 0 80%;
  }
}
