.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef5e4; /* Background for the text section */
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    width: 1180px;
    height: 378px;
    top: 1681px;
    left: 130px;
  }